:root {
    --global-azul: #0075c4;
    --global-azul-claro: #3e97d280;
    --global-azul-escuro: #011627;
    --global-verde: #07C550;
    --global-cinza: #cee5f24d;
    --global-branco: #fafafa;
    --global-preto:#0f0f0f;
}