@import url('./assets/estilos/colors.scss');
@import url('./assets/estilos/fonts.scss');
@import url('./assets/estilos/buttons.scss');
@import url('./assets/estilos/label.scss');
@import url('./assets/estilos/inputs.scss');


* {
  box-sizing: border-box
}

body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: var(--global-branco);
  
  
}
