:root {
    
    .area {
        display: grid;
        grid-template-rows: auto;
        position: relative;
        left: 7vw;

        width: 90vw;
        
        background-color: var(--global-cinza);
        justify-content: center;
        border-radius: 20px;
        
    }
}